input_path = "../_dataset/VOC2012/"
output_path = "./results"
gpu = 0
use_pretrained = true

# 使用するモデルの名前
#model_name = "DETR"
model_name = "Deformable-DETR"

[parameters]
num_epoches = 100
batch_size = 16
classes = [
    "person", "bird", "cat", "cow", "dog", "horse", "sheep", 
    "aeroplane", "bicycle", "boat", "bus", "car", "motorbike", 
    "train", "bottle", "chair", "diningtable", 
    "pottedplant", "sofa", "tvmonitor"
]

# 入力画像サイズ: (height, width)
input_size = [512, 512]

# データセットの形式（"coco" or "pascal_voc"）
dataset_type = "pascal_voc"

[optimizer]
lr = 1e-4
lr_backbone = 1e-5
weight_decay = 1e-4